<div class="container">
	<div class="row">
		<img src="assets/img/logo2.jpg" id="logo">

	</div>
	<br><br><br>
	{{!-- <div class="row">
		<h1 id="header">The Burgers</h1>
	</div> --}}
	<!-- this is index.handlebars -->
	<div class="row">
		<div class="col-lg-8">
			<ul>
				<h1 class="headline">Pick a Burger</h1><br><br>
				{{#each burger}}
				{{#unless devoured}}
				{{!-- add and if devoured equals false --}}
				<li>

					<form action="/update/{{this.id}}" method="POST">
						<p><span class="label">ID:</span> {{this.id}} {{this.burger_name}}
							<input type="hidden" name="id" value="{{this.id}}">
							<button type="submit">Devour It</button>
					</form>
					</p>
				</li>
				<hr>
				{{/unless}}
				{{/each}}
			</ul>
		</div>

		<div class="col-lg-4">
			<ul>
				<h2 class="headline">Devoured</h2><br><br>
				{{#each burger}}
				{{#if devoured}}
				<li>
					<p>{{this.id}} {{this.burger_name}} </p>
				</li>
				{{/if}}
				{{/each}}
			</ul>

		</div>
	</div>

	{{!-- add another list for being devoured equal true --}}
	<div class="create">
		<h2>Create Your Own</h2><br>
		<div class="row">
			<div class="center-block">
				<form class="create-form" action="/create" method="POST">

					<div class="form-group">
						<label for="quo"></label>
						<textarea id="quo" name="type" rows="8" cols="97"></textarea>
					</div>

					<button type="submit" id="create">Submit</button>
				</form>
				</div>
			</div>
		</div>
	</div>